{% set title = 'Top up' %}
{% set filename = 'layout-horizontal.html' %}
{% block styles %}
    <link rel="stylesheet" href="/static/assets/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/static/assets/vendors/sweetalert2/sweetalert2.min.css">
{% endblock %}

{% extends 'layouts/horizontal.html' %}
{% block content %}

    <div class="page-content">
        <section class="row d-flex justify-content-center">


            <div class="col-md-6 ">
                <div class="page-heading">
                    <h3>Top up</h3>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Top up</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <form id="deposit_form">
                                    <div class="col-md-4">
                                        <label>Amount</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number" step="any" id="amount" class="form-control" required
                                               name="amount"
                                               placeholder="Amount (LYX)">
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1" id="deposit-btn">
                                            <span class="spinner-grow spinner-grow-sm d-none" id="deposit-spinner"
                                                  role="status" aria-hidden="true"></span>
                                            Deposit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/static/assets/js/lukso/utils.js"></script>
    <script src="/static/assets/vendors/sweetalert2/sweetalert2.min.js"></script>

    <script type="text/javascript">

        // Account Application
        async function app(amount) {
            const receive_address = '{{receive_address}}'
            if (await connectWeb3() && await checkNetwork()) {
                const web3 = new Web3(window.ethereum);
                let weiAmmount = web3.utils.toWei(amount)
                let accounts = await ethereum.request({method: "eth_accounts"});
                if (accounts.length > 0) {
                    const UP_ADDRESS = accounts[0];
                    console.log("UP_ADDRESS", UP_ADDRESS)
                    await web3.eth.sendTransaction({
                        from: UP_ADDRESS,
                        to: receive_address,
                        value: weiAmmount,
                        data: '0x',
                        gas: 5_000_000,
                        gasPrice: '1000000000'
                    }).then(result => {
                        console.log("transaction result=", result)
                        Swal.fire({
                            icon: "success",
                            title: "successful transaction, funds will be charged to your account after confirmation"
                        })
                    }).catch(err => {
                        console.log(err);
                        Swal.fire({
                            icon: "error",
                            title: err.message
                        })
                    });
                }
            }
        }

        $('#deposit_form').on('submit', function (e) { //use on if jQuery 1.7+
            e.preventDefault();  //prevent form from submitting
            $('#deposit-btn').prop('disabled', true);
            $('#deposit-spinner').removeClass('d-none');
            let amount = $("#amount").val();
            app(amount).then(result => {
                $('#deposit-spinner').addClass('d-none');
                $('#deposit-btn').prop('disabled', false);
            });
        });


    </script>
{% endblock %}
