{% from 'bootstrap5/form.html' import render_form,render_field %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ site_title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link rel="stylesheet" href="/static/assets/css/pages/auth.css">
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" type="image/x-icon">
    {% block styles %}{% endblock %}
</head>

<body>
<div id="auth">
    {% block content %}{% endblock %}
</div>

{% block js %}{% endblock %}
</body>

</html>