[class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1.2;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*fix dropdown arrow*/
.dropdown-toggle:after {
    color: inherit;
}
.dropdown-toggle.user-dropdown:after{
    float:right;
}

/*Display latest nfts checkboxes inline*/
#file_type li {
    display: inline;
    padding: 10px;
}